.each-slide img{
    position: relative;
    height: 550px;
    width: 100%;
}
.each-slide h2{
    color: white;
    font-family: 'Montserrat';
    word-spacing: 7px;
    position: absolute;
    top: 20%;
    left: 23%;
}
.each-slide .shopnow{
    font-family: 'Montserrat';
    color: #ed7a23;
    font-size: 21px !important;
    font-weight: 700;
    border: 1px solid #ed7a23;
    background-color: transparent;
    border-radius: 4px;
    padding: 8px;
    position: absolute;
    top: 33%;
    left: 25.6%;
}
.each-slide .shopnow:hover{
    font-family: 'Montserrat';
    background-color:#ed7a23;
    color: black;
    font-weight: 700;
}
.react-slideshow-container .default-nav:first-of-type {
    border-radius: 19px 4px 5px 21px;
}
.react-slideshow-container .default-nav:last-of-type {
    margin-left: -31px !important;
    border-radius: 5px 19px 19px 5px;
}