*{
    font-family: 'Montserrat';
}
.categories_wrap{
    text-align: center;
}
.categories_wrap hr{
    width: 16%;
    margin-left: 42%;
    color: black;
    padding: 1px;
}
.categories_wrap h2{
    font-weight: 700;
    margin-top: 27px;
    color: #ed7a23;
}
.categories_wrap ul{
    display: flex;
    justify-content: center;
    margin-top: 21px;
}
.categories_wrap ul li{
    list-style-type: none;
    margin-right: 14px;
}
ul li a{
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}
.categories_wrap ul .slash::after{
    content: " | ";
    margin-left: 13px;
    color: #ed7a23
}
ul li a:hover{
    color: #ed7a23 !important;
}
.details_head{
text-align: center;
font-family: 'Montserrat';
font-weight: 700;
margin-top: 24px;
border-bottom: 2px solid #000000;
color: #ed7a23;
}